// Here you can add other styles
.logger {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

// Hides outline on clicked navigation items
a, a:active, a:focus {
  outline: none;
}

// Drag and drop file uploader
.drop-container {
  height: 100px;
  border-width: 2px;
  border-style: dashed;
  border-color: #ccc;
}
.drop-container-text {
  line-height: 100px;
  text-align: center;
  color: #ccc;
}

.app-header.navbar .navbar-brand {
  background-image: none;
}
